<footer id="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12  col-md-12 ">
                <h5>Discover the smarter way to pay online</h5>
                <span class="hr-line"></span>
            </div>
        </div>
        <div class="row">
            <div class=" col-12 col-sm-12  col-md-2 offset-md-1 ">
                <div class="smart-way-box">
                    <img src='/assets/icon1.png' alt="Pay your medical bills">
                    <h6 class="box-title">Pay your medical bills</h6>
                    <p class="box-info">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dam eu finibus nibh
                        ac aliquam ex enean venenatis
                        viverra faucibus. Donec at sapien sag
                    </p>
                </div>
            </div>
            <div class="col-sm-12  col-md-2 ">
                <div class="smart-way-box">
                    <img src='/assets/icon2.png' alt="Access last statement electronic">
                    <h6 class="box-title">Access last statement electronic</h6>
                    <p class="box-info">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dam eu finibus nibh
                        ac aliquam ex enean venenatis
                        viverra faucibus. Donec at sapien sag
                    </p>
                </div>
            </div>
            <div class="col-sm-12  col-md-2 ">
                <div class="smart-way-box">
                    <img src='/assets/icon3.png' alt="Get e-Statements">
                    <h6 class="box-title">Get e-Statements</h6>
                    <p class="box-info">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dam eu finibus nibh
                        ac aliquam ex enean venenatis
                        viverra faucibus. Donec at sapien sag
                    </p>
                </div>
            </div>
            <div class="col-sm-12  col-md-2 ">
                <div class="smart-way-box">
                    <img src='/assets/icon4.png' alt="View statements">
                    <h6 class="box-title">View statements, balance for multiple medicare practice</h6>
                    <p class="box-info">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dam eu finibus nibh
                        ac aliquam ex enean venenatis
                        viverra faucibus. Donec at sapien sag
                    </p>
                </div>
            </div>
            <div class="col-sm-12  col-md-2 ">
                <div class="smart-way-box">
                    <img src='/assets/icon5.png' alt="Track your medicarepay payments">
                    <h6 class="box-title">Track your medicarepay payments</h6>
                    <p class="box-info">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dam eu finibus nibh
                        ac aliquam ex enean venenatis
                        viverra faucibus. Donec at sapien sag
                    </p>
                </div>

            </div>

        </div>
    </div>
</footer>